[general]
datastorage = "sqlite:/var/lib/pf-xivo-web-interface/sqlite/xivo.db"

[locale]
language = fr
territory = FR
charset = UTF-8

[session]
name = _eid
time = 7200
path = /
save_path = "/var/lib/pf-xivo-web-interface/session"

[error]
level = 2047
report_type = 7
report_mode = 1
report_func = 1
email = foo@example.com
file = /var/log/pf-xivo-web-interface/error.log
