## This is the default template/abstract device. You should not delete it since
## devices found by the refresh command will inherit from it by default.
abstract device 'default' {

   ## For abstract device, only 'enabled' and 'password' parameters can be
   ## defined at this level
   
   ## The command 'xivo_bnfos configure devices' will only configure device
   ## for which enabled is not 0.
   enabled: 0
   
   ## Uncomment and modify the next line if your devices have a password set on
   ## them
   #password: adminpass
   
   ## The device_conf section is optional and defines the parameters used to
   ## configure the device.
   device_conf {
      ## These parameters are used as arguments to the 'bnfos --set' command.
      ## You can put any parameter here: of course, only those which are
      ## understood by the bnfos --set command will affect the device(s).
      ## Note that an invalid parameter will result in the device tagged as
      ## not correctly configured. Parameters can be found on the last page of
      ## the berofos user manual.
      mode: 1            # relais mode (0 = A--D; 1=A--B or A--B,C--D)
      modedef: 1         # default relais mode
      scenario: 0        # scenario (0 = failover, 1 = bypass)
      wdog: 1            # watchdog enable (0 = off, 1 = on)
      wdogaudio: 1       # watchdog audio alarm (0 = off, 1 = on)
      wdogdef: 1         # default watchdog enable
      wdogitime: 5       # watchdog interval time, in seconds
   }
   
   ## The module_conf section is optional and defines the parameters used to
   ## configure the res_bnfos Asterisk module for the device.
   module_conf {
      ## These parameters will be written to the configuration file of the
      ## res_bnfos Asterisk module. You can put any parameter here: of
      ## course, those not understood by the res_bnfos module will have no
      ## effect.
      ## Note that if the 'dev_ip', 'dev_mac', 'disabled' or 'user_pwd' parameters
      ## are not present, their values will be taken from the general configuration
      ## parameters of the device.
      enable_wdog_on_start: 0   # don't enable the device watchdog at module load time
      events_cmd: logger        # see bnfos.conf - not important
      kick_interval: 2          # heartbeat interval
      kick_start_delay: 0       # 
      relais_mode_on_start: -1  # don't set device mode at module load time
   }
}


abstract device 'default-autofallback' inherits 'default' {
   module_conf {
      enable_wdog_on_start: 1
      relais_mode_on_start: 1
   }
}


## Device with an auto-fallback behavior.
device 'example1' inherits 'default-autofallback' {

   ## For (real) device, only 'enabled', 'password', 'mac' and 'ip' parameters
   ## can be defined at this level. 'mac' and 'ip' parameters are not
   ## inheritable and must be defined for the device definition to be valid.
   
   mac: 00:00:00:12:34:56
   ip: 192.168.0.11
   enabled: 1
}


## Device not inheriting from any template for which you want to be able to
## configure the device but you do not want the res_bnfos module to handle it.
device 'example2' {
   mac: 00:00:00:12:34:57
   ip: 192.168.0.12
   enabled: 1
   password: adminpass
   device_conf {
      mode: 1
      wdog: 1
   }
   module_conf {
      disabled: 1
   }
}

