[general]
name = asterisk
label = Asterisk
datastorage = "sqlite:/var/lib/asterisk/astsqlite"

[ami]
bindaddr = 127.0.0.1
port = 5004

[autoprov]
host = 127.0.0.1
port = 8666

[configfiles]
path = /etc/asterisk

[musiconhold]
path = /var/lib/pf-xivo/moh

[sounds]
path = /var/lib/pf-xivo/sounds
