[general]
name = asterisk
label = Asterisk
datastorage = "mysql://asterisk:proformatique@localhost/asterisk?charset=utf8"

[ami]
bindaddr = 127.0.0.1
port = 5004

[autoprov]
host = 127.0.0.1
port = 8666

[backupfiles]
path = /var/backups/pf-xivo

[configfiles]
path = /etc/asterisk/extensions_extra.d

[musiconhold]
path = /var/lib/pf-xivo/moh

[logfiles]
path = /var/log/asterisk

[sounds]
path = /var/lib/pf-xivo/sounds

[logaccess]
file = /var/log/pf-xivo-web-interface/xivo.log
