#b-tmenu #toolbar .fm-field {margin-left: 105px; width: 600px;float: left;text-align: center;}

#s-asterisk #index .sb-content #ipbx-logo {width: 50%;padding: 10px 0px;}
#s-asterisk #index .sb-content dl {width: 50%;}
#s-asterisk #index .sb-content dt {padding-top: 10px;font-weight: bold;}

#s-asterisk .sb-content #comment, #s-asterisk .sb-content #emailbody, #s-asterisk .sb-context #pagerbody {text-align: center;width: 100%;}

#s-asterisk #sr-agentgroup .sb-list th, #s-asterisk #sr-agent .sb-list th {width: 50%;}
#s-asterisk #sr-cdr .fm-multifield .fm-desc {width: 40%;}
#s-asterisk #sr-cdr .fm-desc-inline .fm-multifield {width: auto;display: inline;padding: 0px 10px;}
#s-asterisk #sr-cdr .fm-desc-inline .fm-multifield label {padding: 0px;}
#s-asterisk #sr-cdr .sb-list .b-total {float: left;}
#s-asterisk #sr-cdr .sb-list table {margin-top: 0px;}
#s-asterisk #sr-cdr .sb-list table .cdr-infos td {padding: 4px;}
#s-asterisk #sr-cdr .sb-list table .cdr-infos dl {width: 50%; float: left;text-align: left;}
#s-asterisk #sr-cdr .sb-list table .cdr-infos dt {padding-right: 2px;display: inline;font-weight: bold;}
#s-asterisk #sr-cdr .sb-list table .cdr-infos dd {display: inline;}
#s-asterisk #sr-cdr #cal-dbeg {margin: 2px 0px 0px 220px;position: absolute;}
#s-asterisk #sr-cdr #cal-dend {margin: 2px 0px 0px 415px;position: absolute;} 
