Package: asterisk-res-watchdog
Version: 1-1
Section: unknown
Priority: optional
Architecture: i386
Depends: libc6 (>= 2.3.2.ds1-21), asterisk (>= 1:1.2.14~dfsg-1)
Installed-Size: 76
Maintainer: Sylvain Boily <sboily@proformatique.com>
Description: Asterisk watchdog support (patch by Proformatique)
 Support for Wachdog in Asterisk. Patch has been apply for some potentiel error
 on devel by bristuff team. Original patch is from
 http://212.91.251.199/~junghanns.net/downloads/isdnguard-asterisk-1.2.13.patch
